<div class="container-fluid ">
  <div class="row">

    <div class="col-2" id="sideBar" style="height: 100vh; background: hsl(245.58deg 51.81% 67.45%); color: white; ">

      <div class="row" style="background-color: hsl(244.04deg 39.91% 56.27%); height: 56px;">
        <div>
          <span style="position: relative;  left: 28px; top: 13px; ">
            <i class="fas fa-circle" style="color: hsl(245.53deg 51.35% 70.98%); font-size: 24px;"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-minus"
              style="font-size:24px; transform: scaleX(7); color: hsl(245.53deg 51.35% 70.98%);"></i>

          </span>

        </div>





      </div>



      <nav class="col ">

        <ul class="nav flex-column">
          <li class="nav-link">
            <a class="nav-link active" href="#" style="color: white;">
              <h5 style="font-weight: 450;">
                <i class="fas fa-th-large" style="font-size: 15px;"></i>
                &nbsp; Overview
              </h5>
            </a>
          </li>
          <li class="nav-link">
            <a class="nav-link" href="#" style="color: white;">
              <h5 style="font-weight: 450;">
                <i class="fas fa-calendar" style="font-size: 15px;"></i>
                &nbsp;Task
              </h5>
            </a>
          </li>
          <li class="nav-link">
            <a class="nav-link" href="#" style="color: white;">
              <h5 style="font-weight: 450;">
                <i class="fas fa-file-image" style="font-size: 15px;"></i>
                &nbsp; Documents
              </h5>
            </a>
          </li>
          <li class="nav-link">
            <a class="nav-link" href="#" style="color: white;" routerLink="../view">
              <h5 style="font-weight: 450;"><i class="fas fa-sticky-note" style="font-size: 15px;"></i>
                &nbsp; Notes
              </h5>
            </a>
          </li>
        </ul>






      </nav>



    </div>

    <div class="col-10" style="padding: 0;">
      <!-- Top navbar -->
      <nav class="navbar navbar-expand-lg
                      navbar-light bg-white shadow">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-user-circle" style="font-size: 22px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Hello,Sundar!
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-bell" style="font-size: 20px;"></i> <!-- Bell Icon -->
            </a>
          </li>
        </ul>
      </nav>
      <router-outlet></router-outlet>

    </div>




    <!--<a routerLink="/View" class="nav-link">View Component</a>
      
   <a routerLink="/add" class="nav-link">Add Component</a> -->

    <!--  -->












  </div>







</div>