<div class="row m-0" >
    <div class="col-md-12 m-0" id="all-notes">
        <div class="row m-0" id="all-notes-from-JSON">
          <div class="row m-0">
            <div class="col-md-* m-1 p-3 border note-box">
                <p class="color-text"></p>
                <li><b></b></li>
                <p></p>
                <div class="d-flex justify-content-between align-items-center experience">
                    <span class="color-text"><span><i class="fa-regular fa-clock mr-1"></i></span><span>

                    </span></span><span class="px-3 p-1 add-experience"><button class = "edit" id ="'+i+'"><i class="fa-solid fa-pen-to-square"></i></button><button class = "delete" id ="'+i+'"><i class="fa-solid fa-trash-can"></i></button></span>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>