
.container {
    
    height: 50vh;
   
    position: relative;
    left: 350px; /* Move right by 20px */
    top: 10vh; /* Move upward by 10px (negative value) */
    padding-top: 21px;
    width: 60vh;
    margin-left: 5px;
  }

  .please-todo{
    position: relative;
    right:7vh;
    top: 9vh;
  }