<div class="col-12 mt-4 " style="padding: 0;">


    <div style="text-align:right; margin-right: 30px ;">

        <a class="nav-link" style="color: hsl(245.58deg 51.81% 67.45%); font-weight: 450;">
            <form class="form-inline my-2 my-lg-0 ">
                <div class="form-group has-search">
                    <span class=" form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"
                        (input)="onSearch()">&nbsp;&nbsp;
                    <i class="fas fa-plus-circle"></i>&nbsp;
                    <div routerLink="../add">
                        Add new note
                    </div>
                </div>

            </form>

        </a>
    </div>

    <div class="card-header text-center">

        <h3>Your TODO List</h3>
    </div>





</div>

<!-- Add this to your template -->
<div *ngIf="editIndex !== -1">
    <!-- Edit form here, with input fields for heading, description, date, and time -->
    <form (submit)="saveEdit()">
        <input type="text" [(ngModel)]="notes[editIndex].heading" name="heading" placeholder="Heading">
        <textarea [(ngModel)]="notes[editIndex].description" name="description" placeholder="Description"></textarea>
        <input type="date" [(ngModel)]="notes[editIndex].date" name="date">
        <input type="time" [(ngModel)]="notes[editIndex].time" name="time">
        <button type="submit">Save</button>
    </form>
</div>



<div *ngIf="available==='true'" class="row m-0 mt-2">
    <div class="col-md-12 m-0" id="all-notes">
        <div *ngIf="editIndex === -1">

            <div class="row m-0" *ngFor="let data of notes; let i = index" id="all-notes-from-JSON">
                <div class="row m-0">
                    <div class="col-md-* m-1 p-3 border note-box">
                        <p class="color-text">{{data.heading}}</p>
                        <li><b>{{data.description}} </b></li>
                        <p>{{data.date}}</p>
                        <div class="d-flex justify-content-between align-items-center experience">
                            <span class="color-text"><span><i class="fa-regular fa-clock mr-1"></i>
                                    {{data.time}}</span><span>

                                </span></span>
                            <span class="px-3 p-1 add-experience"><button (click)="editNote(i)" id="'+i+'" routerLink="/add"><i
                                        class="fa-solid fa-pen-to-square" style="color: blueviolet;"></i></button>
                                &nbsp;
                                <button (click)="deleteNote(i)" class="delete" id="'+i+'"><i
                                        class="fa-solid fa-trash-can" style="color: red;"></i></button></span>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="available==='false'">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Notes not found</p>
        <footer class="blockquote-footer">Please add note<cite title="Source Title"></cite></footer>
    </blockquote>
</div>